#right_con_table__index {
  box-sizing: border-box;
  padding: 11px 0px 11px 0px;
  width: 100%;
  min-height: 380px;
  overflow: auto; }

#right_table__index {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  min-width: 571px;
  table-layout: fixed;
  overflow-wrap: break-word; }

#right_table__index td, #right_table__index th {
  vertical-align: text-top;
  border: 1px solid #ddd;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #575757; }

#right_table__index tr:nth-child(even) {
  background-color: #f7f6f6; }

#right_table__index tr:hover {
  cursor: pointer;
  background-color: #ddd; }

#right_table__index th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #9791b0;
  color: white; }

.right_table_th__index {
  width: 150px; }

.right_table_con_header__index {
  display: flex;
  align-items: center; }

.right_table_header__index {
  padding-right: 5px; }

.sort_con {
  cursor: pointer; }

.sort-by-asc {
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  background: transparent;
  border-bottom: solid 7px white;
  border-top-width: 0;
  margin-bottom: 2px;
  cursor: pointer;
  opacity: 0.3; }

.sort-by-desc {
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  margin: 4px 0px 0 0px;
  background: transparent;
  border-top: solid 7px white;
  border-bottom-width: 0;
  margin-top: 8px;
  cursor: pointer;
  opacity: 0.3; }

.sort-active {
  opacity: 0.8; }

.fade_modal {
  opacity: 1; }

.pagination_hidden {
  display: none; }

.paginator_active > a {
  background-color: #5da6f3 !important;
  border-color: #a2c0df;
  color: white; }

.paginator_active > a:hover {
  background-color: #5da6f3 !important;
  border-color: #a2c0df;
  color: white; }

.pagination_user-select {
  user-select: none; }

.pagination_disabled__index > a {
  user-select: none;
  border: 1px solid #ebebeb !important;
  color: #d8d8d9 !important;
  background-color: #f3f2f2 !important; }

.pagination_disabled__index:hover {
  cursor: no-drop; }

.page-link:focus {
  box-shadow: none; }
