
#right__index{
	width: calc(100% - 300px);
	//background-color: blue;
	box-sizing: border-box;
	padding: 0px 10px 0px 10px;
	vertical-align: text-top;
}

#right_con__index{
	box-sizing: border-box;
	padding: 1.5rem;
	border-radius: 2px;
	box-shadow: 0 1px 6px rgba(0,0,0,.12), 0 1px rgba(0,0,0,.12);
	min-height: 500px;
}


#right_h1__index h1{
	font-size: 16px;
	font-weight: bold;
	color: #3f4245;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}


