
#footer {

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: left;
  font-size: 12px;
  padding: 10px 30px 10px 30px;
  box-sizing: border-box;


}

#footer > div{
  opacity: .5;
}

#footer > div > p{
    //margin: auto !important;
    margin-top: auto !important;
    margin-bottom: auto !important;    
}




















