.view_1__con_H1 > h1 {
  font-size: 18px;
  font-weight: normal;
  color: #949393;
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.view_1__con_H1 {
  width: 100%;
  padding: 0px;
  text-align: left; }
